@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  background: linear-gradient(
    to right bottom,
    rgb(221, 221, 221),
    rgba(138, 137, 137, 0) fill
  );
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: screen;
  width: screen;
}

header {
  position: fixed;
  margin: 0 auto 0 auto;
  top: 2vh;
  color: #caaa6c;
  font-size: large;
  background: rgba(255, 255, 255, 0.4);
}

section {
  margin-top: 1vh;
}

h3 {
  font-size: medium;
}

a {
  text-decoration: none;
}

.pJson {
  display: flex;
}
